@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$blue-main: rgb(88, 126, 187);
$blue-lighter: rgb(106, 139, 199);
$lightblue: rgb(196, 211, 231);
$darkblue: rgb(46, 67, 129);
$red: rgb(235, 101, 100);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 60px;
  .nav-cont {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: block;
      height: 40px;
      width: 40px;
      background-image: url("https://www.iconbolt.com/iconsets/responsive-flat/leaf.svg");
      background-position: center;
      background-size: contain;
      filter: grayscale(0.6);

      &:hover {
        filter: grayscale(0);
        transition: filter 0.5s;
      }
    }

    .nav-elements {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .navlinks {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a {
          text-decoration: none;
          color: $darkblue;
          padding: 5px 10px;
          border-radius: 50px;

          &.active {
            background-color: $lightblue;
            transition: background-color 0.5s;
          }
        }
      }

      button.theme {
        all: unset;
        background-image: url("https://www.iconbolt.com/iconsets/responsive-flat/light-bulb.svg");
        filter: grayscale(0.4);
        width: 20px;
        height: 20px;
        background-position: center;
        background-size: contain;
        cursor: pointer;

        &:hover {
          filter: grayscale(0);
          scale: 1.1;
          transition: all 0.5s;
        }
      }
    }
  }
}

.page.home {
  width: 100%;
  min-height: calc(100vh - 60px);
  position: relative;

  p {
    font-size: 120px;
    position: absolute;
    color: $darkblue;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 2px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :nth-child(1) {
    top: 0px;
    left: -30px;
  }

  :nth-child(2) {
    top: 120px;
    animation: slide-left 4s linear infinite;
    color: $blue-main;
  }

  :nth-child(3) {
    top: 230px;
    right: -30px;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(170%);
  }
  100% {
    transform: translateX(-120%);
  }
}

footer {
  width: 100%;
  height: 100px;
  border-top: 2px solid $blue-main;

  .footer-cont {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      height: 60px;

      p {
        padding-left: 20px;
        background-position: left;
        background-size: 10px;
        background-repeat: no-repeat;
        font-size: 12px;
        color: $darkblue;
        letter-spacing: 1px;

        &:nth-child(1) {
          background-image: url("/icons/phone.svg");
        }

        &:nth-child(2) {
          background-image: url("/icons/location.svg");
        }
        &:nth-child(3) {
          background-image: url("/icons/mail.svg");
        }
      }
    }

    .center {
      text-align: center;
      letter-spacing: 2px;
      color: $darkblue;
    }

    .right {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;

      a {
        height: 30px;
        width: 30px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: grayscale(0.8);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          filter: grayscale(0);
        }
        &:nth-child(1) {
          background-image: url("/icons/instagram.svg");
        }
        &:nth-child(2) {
          background-image: url("/icons/facebook.svg");
        }
        &:nth-child(3) {
          background-image: url("/icons/youtube.svg");
        }
      }
    }
  }
}
